.fotogrande {
	width: 100%;
	background-color: rgba(42, 42, 42, 1);
	height: 100%;
	background: url("../images/foto.jpg") center;	
	background-size: cover;
}
@media (min-width: 768px) {
	.fotogrande {
		width: 75%;
		float: right;
	}
}